################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnionShop/.vs/OnionShop/FileContentIndex
