################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnionShop/.vs/OnionShop/FileContentIndex
/OnionShop/.vs/OnionShop/v17/.futdcache.v2
/OnionShop/.vs/OnionShop/v17/.suo
/OnionShop/.vs/OnionShop/v17/fileList.bin
/OnionShop/.vs/ProjectEvaluation/onionshop.metadata.v7.bin
/OnionShop/.vs/ProjectEvaluation/onionshop.projects.v7.bin
