@page
@model ServiceHost.Pages.ForgetPasswordConfirmationModel
@{
    ViewData["Title"] = "ارسال موفق لينك بازيابي رمز عبور";
}
<!DOCTYPE html>


<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">موفق!</h4>
        <p>لينك بازيابي كلمه عبور با موفقيت ارسال شد . براي ادامه فرآيند ايميل خود را بررسي نماييد.</p>
        <hr>
        <p class="mb-0">اگر لينك را دريافت نكرديد. پوشه اسپم خود را بررسي نماييد</p>
    </div>
</div>