@page
@model ServiceHost.Pages.ResetPasswordModel
@{
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">رمز عبور جدید</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="/Index">صفحه اصلی</a></li>
                            <li class="active">رمز عبور جدید</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                                <form method="post">
                                    <div class="login-form">
                                        <h4 class="login-title">رمز عبور جدید</h4>
                                        <div class="row">


                                            <div class="col-md-12 col-12">
                                                <div class="form-group">
                                                    <label asp-for="ChanagePassword.Password" class="control-label">پسورد</label>
                                                    <input type="password" class="form-control" asp-for="ChanagePassword.Password">
                                                    <span asp-validation-for="ChanagePassword.Password" class="error"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <div class="form-group">
                                                    <label asp-for="ChanagePassword.RePassword" class="control-label">تکرار پسورد</label>
                                                    <input type="password" class="form-control" asp-for="ChanagePassword.RePassword">
                                                    <span asp-validation-for="ChanagePassword.RePassword" class="error"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="register-button">ذخیره</button>
                                            </div>
                                            <input type="hidden" asp-for="ChanagePassword.Id" />
                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>